{% extends "layout.html" %}

{% block content %}


<h6> pagina per inserire il capo, è una pagina che serve a noi per semplificare l'inserimento del capo nel db </h6>
<h1>Dati del boss:</h1>
<form action="/admin" method="POST">
    <input type="text" name="cf" value="" placeholder="codice fiscale" maxlength="16">
    <input type="text" name="nome" value="" placeholder="nome" maxlength="20">
    <input type="text" name="cognome" value="" placeholder="cognome" maxlength="20">
    <input type="text" name="email" value="" placeholder="email" maxlength="60">
    <input type="text" name="psw" value="" placeholder="password" maxlength="20">
</br>
<input type="submit" name="inserimentocapo" value="InserisciCapo">

</form>


{% endblock %}