{% extends "layout.html" %}

{% block content %}


<h1>Sono la pagina del calendario</h1>

<table>
    <th> <form action="/calendario" method="POST">
        <input name="cambiaMese" type="submit" value="Precedente">
        <input name="meseCorrenteSelezionato" type="hidden" value="{{meseNumerico}}">
        <input name="annoCorrenteSelezionato" type="hidden" value="{{annoNumerico}}">
    </form>
    </th>

    <th> {{nomeMese}}</th>  
    <th> {{annoNumerico}}</th>  
    
    <th> <form action="/calendario" method="POST">
        <input name="cambiaMese" type="submit" value="Successivo">
        <input name="meseCorrenteSelezionato" type="hidden" value="{{meseNumerico}}">
        <input name="annoCorrenteSelezionato" type="hidden" value="{{annoNumerico}}">
    </form>
    </th>
    <tr><td>Lunedì</td><td>Martedì</td><td>Mercoledì</td><td>Giovedì</td><td>Venerdì</td><td>Sabato</td><td>Domenica</td></tr>
    <tr>
        {%set giorno = 1 %}
        {% for giorno in range(1, num_giorni+1) %}
        <td>
            <form method="POST" action='/corsi'>
            {% if dataCorrente["giorno"] == giorno and dataCorrente["mese"] == meseNumerico and dataCorrente["anno"] == annoNumerico  %}
                <input name="GiornoSelezionato" style="background-color:cyan" class="btn" type="submit" value="{{giorno}}">
            {% else  %}
                <input name="GiornoSelezionato" class="btn" type="submit" value="{{giorno}}">
            {% endif %}
            <input type="hidden" name="dataSelezionata" value="{{annoNumerico}} {{meseNumerico}} {{giorno}}">
            </form>
        </td>
            {% if giorno % 7 == 0 %}
                </tr> <tr>
                {% endif %}
        {% endfor %}
        
</table>




<script >
    var giorno =  document.getElementsByName("GiornoSelezionato");
    console.log(giorno)
    for(var i =0 ; i < giorno.length; i++){
        giorno[i].addEventListener("mouseover", function() {
            //inserire preview corsi
            console.log("ciao")})
    }

</script>
{% endblock %}
