{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
{% if data %}
    <h3>Ricerca corsi in data: {{data}}</h3>
    <form id="settaggio_date_form" action="/corsi" method="POST">
        <div class="form-group">
            <h4>Ora iniziale :</h4>
            <input type="time" name="ora_iniziale_ricerca" class="form-control">
            <br />
            <h4>Ora finale :</h4>
            <input type="time" name="ora_finale_ricerca" class="form-control">
            <br />
            <input type="button" id="id_btn_giornoIntero" name="giornoIntero" value="Tutto Il Giorno" class="btn btn-secondary">
            <br />
            <input type="hidden" name="dataSelezionata" value="{{data}}">
            <br />
            <input type="submit" name="ricerca" value="Cerca" class="btn btn-primary">
        </div>
    </form>

    <script>
        var settaggio_date_form = document.getElementById('settaggio_date_form')
        var btn = document.getElementById('id_btn_giornoIntero')
        btn.addEventListener("click", function() {
        
            var time_inputs_Arr = settaggio_date_form.querySelectorAll("input[type='time']")
            time_inputs_Arr[0].setAttribute('value',"00:00")
            time_inputs_Arr[1].setAttribute('value',"23:59")
            return
        })
    </script>


    {% if ruolo == 'capo' %}
    <table class="table">
        <caption><strong> INFORMAZIONI</strong></caption>
        <tr>
            <th scope="col">Sala</th>
            <th scope="col">Dalle</th>
            <th scope="col">Alle</th>
            <th scope="col">Codice fiscale</th>
            <th scope="col">Nome</th>
            
            <th scope="col">Telefono</th>
        </tr>
        {% for row in tab_lista_prenotazioni %}
        <tr>
            <td>Sala {{row['id_sala']}}</td>
            <td>{{row['inizio']}} </td> 
            <td>{{row['fine']}} </td> 
            <td>{{row['codice_fiscale']}}</td> 
            <td>{{row['nome']}} {{row['cognome']}}</td>
            <td>{{row['telefono']}}</td> 
                
        </tr>    
        {% endfor %}
    </table>
    {% endif %}  


     


    {% if ruolo == 'iscritto' or ruolo == 'istruttore'  %}
    <table class="table">
        <caption><strong>CORSI DISPONIBILI</strong></caption>
        <tr>
            <th scope="col">Sala</th>
            <th scope="col">Dalle</th>
            <th scope="col">Alle</th>
            <th scope="col">Tipologia</th>
            <th scope="col">Tenuto da</th>                
        </tr>
        {% for row in info_corsi %}
            <tr>
                <td>Sala {{row['id_sala']}}</td>
                <td>{{row['inizio']}} </td> 
                <td>{{row['fine']}} </td> 
                <td>{{row['nome_tipologia']}}</td> 
                <td>{{row['nome_istruttore']}} {{row['cognome_istruttore']}}</td>
                <td> 
                    <form action="profilo" method="post"> 
                        <input type="hidden" name="dataPrenotata" value="{{data}}"  >
                        <input type="hidden" name="idSala" value="{{row['id_sala']}}"  >  
                        <input type="hidden" name="codiceFiscaleUtente" value="{{cf_utente}}">
                        <input type="hidden" name="idFascia" value="{{row['id_fascia']}}">
                        
                            <input type="submit" name="prenotaCorso" value="Prenotati" class="btn btn-secondary">
                        
                        
                    </form>
                </td>    
            </tr>    
        {% endfor %}
    </table>
    <table class="table">
        <caption><strong>SALE PESI DISPONIBILI</strong></caption>
        <tr>
            <th scope="col">Sala</th>
            <th scope="col">Dalle</th>
            <th scope="col">Alle</th>
            <th scope="col">Premi qui</th>
        </tr>
        {% for row in sale_pesi_libere %}
        <tr>
            <td>Sala {{row['id_sala']}} </td> <td>{{row['inizio']}} </td> <td>{{row['fine']}} </td>
            <td> 
                <form action="profilo" method="post"> 
                    <input type="hidden" name="dataPrenotata" value="{{data}}"  >
                    <input type="hidden" name="idSala" value="{{row['id_sala']}}"  >  
                    <input type="hidden" name="codiceFiscaleUtente" value="{{cf_utente}}">
                    <input type="hidden" name="idFascia" value="{{row['id_fascia']}}">
                    
                        <input type="submit" name="prenotaSalaPesi" value="Prenotati" class="btn btn-primary">
                    
                    
                </form>
            </td>
        </tr>
        {% endfor  %}
    </table>
    {% endif %}

    
    {% if ruolo == 'istruttore' %}
        
    <form action="/corsi" method="POST">
        <div class="form-group">
            <table class="table">
                <caption><strong>CREA UN CORSO</strong></caption>
                <tr>
                    <th scope="col">Dalle</th>
                    <th scope="col">Alle</th>
                    <th scope="col">Sala</th>
                    <th scope="col">Posti Totali</th>
                    <th scope="col">Seleziona</th>
                </tr>
                {% for row  in sale_disp_con_fasce %}
                <tr>
                    <td>{{row['inizio']}}</td>
                    <td>{{row['fine']}}</td>
                    <td>Sala {{row['id_sala']}}</td>
                    <td>{{row['posti_totali']}}</td>
                    <td> <input type="radio" name="nomeRadioIdFascia {{row['id_fascia']}}" value="idfascia_{{row['id_fascia']}} idsala_{{row['id_sala']}}"> </td>
                </tr>
                {% endfor %}
            </table>

            <br />
            <h4>Inserisci le informazioni relative al corso che vuoi inserire</h4>
            <table class="table">
                <tr>
                    <th scope="col"> Tipologia generale corso</th>
                    <th scope="col"> Nome del tuo corso</th>
                </tr>
                <tr>
                    <td>Tipo del corso : 
                        <select name="tipologie" class="form-select" aria-label="Default select example">
                            {% for row in lista_tipologie_tab %}
                                <option class="form-select" value="{{row['id_tipologia']}}"> {{ row['nome_tipologia'] }}</option>
                            {% endfor %}
                        </select>
                    </td> 
                    <td> <input type="text" name ="nomeCorso" placeholder="nome del corso" class="form-control"> </td>
                </tr>
                <tr>
                    <td> <input type="submit" name ="inserimentoCorso" value="Inserisci il corso" class="btn btn-primary"> </td>
                </tr>
                <tr>
                    <td><input type="hidden" name="dataSelezionata" value="{{data}}"></td>
                </tr>
            </table>
        </div>
    </form>
    {% endif %}
{%endif %}


{% endblock %}
