{% extends "layout.html" %}

{% block content %}

<h3>{{ title }}</h3>




<h2> inserisci informazioni sul corso in data: {{data}}</h2>
<form action="/corsi", method="POST">
     
    Ora iniziale :
    <input type="time" name="ora_iniziale_ricerca">
    <br>
    Ora finale :
    <input type="time" name="ora_finale_ricerca">
    <br>
    <input type="hidden" name="dataSelezionata" value="{{data}}">
    <input type="submit" name="ricerca" value="Cerca">
</form>



    {% set i = 1 %}
{% for row  in sale_disp_con_fasce %}

    {% if i < row['tot_fasce'] %}
        sala row['id_sala'] :
        dalle : row['inizio']
        alle : row['fine']
        {% set i = i + 1 %}
    
    {% elif i == row['tot_fasce'] %}
        {% set i = 1 %}
    {% endif %}
    

{% endfor %}



{% endblock %}
