{% extends "layout.html" %}

{% block content %}

<h2>{{title}}</h2>
<!--questa  poi da inserire in quelle visibili solo dal boss-->
ID SALA :{{ id_sala}}
<form action="{{url_for('crea_sala')}}" method = "POST">
    <div class="form-group">
        
        <br />
        {{ form.nPosti.label }}:
        {{ form.nPosti(class_="form-control") }}
        <br />
        {{ form.attrezzi.label }}:
        {{ form.attrezzi(class_="form-control") }}
        <br />
    </div>
    <input type="submit" class="btn btn-primary" name="Submit" value="Invia">
</form>

{% endblock %}