{% extends "layout.html" %}

{% block content %}

<h2>{{title}}</h2>
<!--questa  poi da inserire in quelle visibili solo dal boss-->
<form action="{{url_for('crea_sala')}}" method = "POST">
    <div class="form-group">
        {{ form.salaId.label }}:
        {{ form.salaId(class_="form-control") }}
        <br />
        {{ form.nPosti.label }}:
        {{ form.nPosti(class_="form-control") }}
        <br />
        {{ form.attrezzi.label }}:
        {{ form.attrezzi(class_="form-control") }}
        <br />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}