{% extends "layout.html" %}

{% block content %}

<h1>Crea la tua palestra</h1>
<form>
    <h3>Informazioni della palestra :</h3>
    <label for="nomePalestra">Nome</label>
    <input type="text" id="nomePalestra"  name="nomePalestra" placeholder="Nome Palestra" required>

    <label for="indirizzoPalestra">Indirizzo</label>
    <input type="text" id="indirizzoPalestra"  name="indirizzoPalestra" placeholder="Indirizzo" required>
</form>



<h3>Inserire le fascie orarie dei relativi giorni della settimana:</h3>


<h4>lunedi</h4>
<table id="t1">
    <tr><td>    <button id="btn_aggiungi">Aggiungi Fascia</button> </td></tr>
  
   
</table>













<script>



    
        var b = document.getElementById("btn_aggiungi")
        i=0
        b.addEventListener("click", function(){
            i++;
            var inp = document.createElement("input")
            inp.setAttribute("type","time")
            var nome = "fascia"+ i
            inp.setAttribute("name",nome)
            var table = document.getElementById('t1')

            var tr = document.createElement('tr');

           
            var td_label = document.createElement('td')
            td_label.innerHTML = nome
            

            var td = document.createElement('td')
            table.appendChild(tr.appendChild(td_label))
            table.appendChild(tr.appendChild(td.appendChild(inp)))

            
        })
    
   


</script>

{% endblock %}