{% extends "layout.html" %}

{% block content %}

<h1>Crea la tua palestra</h1>
<form action="/creazionePalestra"  method="POST">
    <h3>Informazioni della palestra :</h3>
    <label for="nomePalestra">Nome</label>
    <input type="text" id="nomePalestra"  name="nomePalestra" placeholder="Nome Palestra" required>

    <label for="indirizzoPalestra">Indirizzo</label>
    <input type="text" id="indirizzoPalestra"  name="indirizzoPalestra" placeholder="Indirizzo" required>




<h3>Inserire le fascie orarie dei relativi giorni della settimana:</h3>
<script>

function check_all_ok(){   
   
    var  inputs =  document.querySelectorAll("input[type='time']")
    var is_not_ok = false
    console.log(inputs)
    id_submit = document.getElementById('inviaFascie')
    
    for(var i = 0; i < inputs.length; i++  ){
        if( inputs[i].getAttribute('title') == "" ){
            $( inputs[i]).removeAttr('title')
            $(inputs[i]).tooltip('disable')
            is_not_ok = true
            break
        }
    }
    document.getElementById("inviaFasce").disabled = is_not_ok
    return
}


    function crea(intGiorno){
        var b = document.getElementById("btn_aggiungi_"+ intGiorno)
        var i=0
        b.addEventListener("click", function(){
            i++;

            var inp_ora_inizio = document.createElement("input")
            inp_ora_inizio.setAttribute("type","time")
            var nome_input_ora_inizio =  intGiorno + "_inizioFascia_"+ i  
            inp_ora_inizio.setAttribute("name",nome_input_ora_inizio)

            var inp_ora_fine = document.createElement("input")
            inp_ora_fine.setAttribute("type","time")
            var nome_input_ora_fine =  intGiorno + "_fineFascia_"+ i 
            inp_ora_fine.setAttribute("name",nome_input_ora_fine)
           
            inp_ora_fine.addEventListener("change",function(){
                if (this.value != undefined && inp_ora_inizio.value > this.value){
                    $(inp_ora_fine).tooltip({title:"ora finale non valida"})
                    $(inp_ora_fine).tooltip('show')
                    
                }
                check_all_ok()
                return
            })
            inp_ora_inizio.addEventListener("change",function(){
                if (this.value != undefined && inp_ora_fine.value < this.value){
                    $(inp_ora_inizio).tooltip({title:"ora iniziale non valida"})
                    $(inp_ora_inizio).tooltip('show')
                    
                }
                check_all_ok()
                return
            })



           
            var table = document.getElementById('table_'+intGiorno)
            var tr = document.createElement('tr');

            var td_label = document.createElement('td')
                td_label.innerHTML = "Fascia" + i;
            table.appendChild(tr.appendChild(td_label))

            var td_ora_inizio = document.createElement('td')
            var td_ora_fine = document.createElement('td')
            
            table.appendChild(tr.appendChild(td_ora_inizio.appendChild(inp_ora_inizio)))
            table.appendChild(tr.appendChild(td_ora_fine.appendChild(inp_ora_fine)))
            console.log(inp_ora_inizio.getAttribute("name"))
            console.log(inp_ora_fine.getAttribute("name"))
        })
    }



</script>

<h4>Lunedì</h4>
<table id="table_1">
    <tr><td>    <input type="button" id="btn_aggiungi_1" value="Aggiungi Fascia"></input> </td></tr>
</table>
<script > crea("1") </script>

<h4>Martedì</h4>
<table id="table_2">
    <tr><td>    <input type="button" id="btn_aggiungi_2" value="Aggiungi Fascia"></input> </td></tr>
</table>
<script > crea("2") </script>

<h4>Mercoledì</h4>
<table id="table_3">
    <tr><td>    <input type="button" id="btn_aggiungi_3" value="Aggiungi Fascia"></input> </td></tr>
</table>
<script > crea("3") </script>

<h4>Giovedì</h4>
<table id="table_4">
    <tr><td>    <input type="button" id="btn_aggiungi_4" value="Aggiungi Fascia"></input> </td></tr>
</table>
<script > crea("4") </script>

<h4>Venerdì</h4>
<table id="table_5">
    <tr><td>    <input type="button" id="btn_aggiungi_5" value="Aggiungi Fascia"></input> </td></tr>
</table>
<script > crea("5") </script>
<h4>Sabato</h4>
<table id="table_6">
    <tr><td>    <input type="button" id="btn_aggiungi_6" value="Aggiungi Fascia"></input> </td></tr>
</table>
<script > crea("6") </script>

<h4>Domenica</h4>
<table id="table_7">
    <tr><td>    <input type="button" id="btn_aggiungi_7" value="Aggiungi Fascia"></input> </td></tr>
</table>
<script > crea("7") </script>

<input id="inviaFasce" type="submit" name="inviaFasce" value="Salva">


</form>




{% if tab_fasce != Null %}
<br>
<br>
    Fasce gia inserite : 
    <br>
    <table> 
        <th>Giorno</th><th>Fascia</th><th>Dalle</th><th>Alle</th>
    {% for row in tab_fasce %}
    <tr>
        <td> {{ nome_giorni_della_settimana[row['giorno']-1] }} </td> 
        <td> {{ row['id_fascia']  }} </td>
        <td> {{ row['inizio'] }}  </td> 
        <td> {{ row['fine'] }}  </td>
    </tr>
    {% endfor  %}
    </table>
{% endif %}



{% endblock %}