{% extends "layout.html" %}

{% block content %}
<hr />
<div id="idLogo" align="middle" >
    <img src="static\media\LogoActygym.PNG"  />
</div>
<hr />
<h2 > ACTY-GYM OFFRE:</h2>


<!-- da riempire con le varie caratteristiche dei corsi prendendo i dati della query
    e buttare tutto in un for che genera i cosi qua sotto-->
<div class="container">
    <!--una riga e' composta da sti tre div class row -->
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="well">
                <h2 class="text-muted">Sollevamento polemiche</h2>
                <p><span class="label label-default">IL PI&Uacute; SCELTO</span></p>
                <ul>
                    <li>10 lezioni</li>
                    <li>Orario: 9-12 / 15-18</li>
                    <li>Istruttore: Bepi</li>
                </ul>
                <h3>Descrizione</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
                <hr>
                <p><a class="btn btn-default btn-lg" href="#"><i class="icon-ok"></i>Iscriviti</a></p>
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="well">
                <h2 class="text-warning">Yoga Acrobatico</h2>
                <p><span class="label label-success">PRO</span></p>
                <ul>
                    <li>5 lezioni</li>
                    <li>Orario: 15-18</li>
                    <li>Istruttore: Toni</li>
                </ul>
                <h3>Descrizione</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
                <hr>
                <p><a class="btn btn-default btn-lg" href="#"><i class="icon-ok"></i>Iscriviti</a></p>
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="well">
                <h2 class="text-info">Free Trainig</h2>
                <p><span class="label label-info">BASE</span></p>
                <ul>
                    <li>Allenamento libero</li>
                    <li>Orario: tutto il giorno</li>
                </ul>
                <h3>Descrizione</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
                <hr>
                <p><a class="btn btn-default btn-lg" href="#"><i class="icon-ok"></i>Prenotati</a></p>
            </div>
        </div>
    </div> 
</div>

<table class="table">
    <tr><th>Mese</th><th>Numero Corsi</th></tr>
    {% for row in lezioni_al_mese %}
    <tr>
        <td>{{ nome_mesi[row['meseint']|int -1] }}</td>
        <td>{{row['numcorsi']}}</td>
    </tr>
    {% endfor  %}
    <tr><th> Mese/Mesi con massimo numero di corsi </th></tr>

    {% for m in mesi_con_piu_corsi %}
    <tr>
        <td>{{ nome_mesi[m|int -1] }}</td>
        <td> {{ num_corsi }}</td>
    </tr>
    {% endfor %}
</table>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<canvas id="lineChart" width="700" height="350" ></canvas>
<script>
    var ctx = document.getElementById("lineChart").getContext("2d")
    var lineChart = new Chart(ctx , {
        type: "bar",
        data: {
            labels: {{ nome_giorni_della_settimana | safe }},
            datasets: [
                {
                    label: "Media Affluenza Settimanale",
                    data: {{ medie | safe }},
                    fill: false,
                    borderColor: "rgb(0 ,0, 0)",
                    lineTension: "0.2"
                
                }
            ]
        },
    options: {responsive:  true}
    });
</script>

{% endblock %}
