<!DOCTYPE html>
<html>
<head>
    <!--<meta charset="utf-8" /> -->
    <meta charset="iso-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Acti - Gym, benvenuto</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>



<body>

    <!-- per gli alert in tutte le pagine-->
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Acti - Gym</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <!-- se l'utente si è autenticato, le pagine qui sotto non le può vedere

        LOGIN -> home, profilo, corsi, calendario, ?istruttori?, logout
        NO LOGIN -> home, login, registrazione, corsi, logout

        temporanea, per vedere se effettivamente è loggato, poi
        stabiliamo meglio quali si vedono e quali no
    -->
                    <!-- se l'utente is autenticato-->
                    {% if current_user.is_authenticated %}

                    <!-- se l'utente is ADMIN (RUOLO 0 anche nel db)-->
                    {% if current_user.get_role() == 0 %}
                    <li><a href="{{ url_for('admin') }}">admindb</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    <!-- se l'utente is CAPO-->
                    {% elif current_user.get_role()== 1 %}
                    <li><a href="{{ url_for('profilo') }}">Profilo</a></li>
                    <li><a href="{{ url_for('policy_occupazione') }}">Policy</a></li>
                    <li><a href="{{ url_for('lista_prenotazioni') }}">Prenotazioni</a></li>
                    <li><a href="{{ url_for('lista_corsi') }}">Lista Corsi</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    <!-- se l'utente is ISTRUTTORE-->
                    {% elif current_user.get_role() == 2 %}
                    <li><a href="{{ url_for('profilo') }}">Profilo</a></li>
                    <li><a href="{{ url_for('calendario') }}">Calendario</a></li>
                    <li><a href="{{ url_for('lista_corsi') }}">Lista Corsi</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    <!-- se l'utente is ISCRITTO-->
                    {% elif current_user.get_role() == 3 %}
                    <li><a href="{{ url_for('profilo') }}">Profilo</a></li>
                    <li><a href="{{ url_for('calendario') }}">Calendario</a></li>
                    <li><a href="{{ url_for('lista_corsi') }}">Lista Corsi</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                    <!-- se l'utente is VISITATORE (non autenticato)-->
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('registrazione') }}">Registrazione</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - Acti - Gym managment</p>
        </footer>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
