{% extends "layout.html" %}

{% block content %}

<form action="/policy_occupazione" method="post">
    
    <label for="dpcm-start">Inserisci la data di inizio </label>
    <input type="date" id="data_inizio" name="dpcm-start" value="">


    
    <label for="dpcm-end">Inserisci la data di fine </label>
    <input type="date" id="data_fine" name="dpcm-end" value="">

    <input type="submit" id="id_btn_conferma" name="confermaPolicy" value="Conferma le nuove policy">
</form>



<script>
   
    function check_dates(){
        var vd1 = document.getElementById('data_inizio').value
        var vd2 = document.getElementById('data_fine').value
        var d_inizio = new Date(vd1 + 'T00:00')
        var d_fine = new Date(vd2 + 'T00:00')
        
        return d_inizio < d_fine 
    }

    var callback =  function(){
        if( check_dates() == true){
            document.querySelector('#id_btn_conferma').removeAttribute('disabled')
            return 
        }else{
            alert(" la data finale è minore della data inizale, controlla meglio ")
            document.querySelector('#id_btn_conferma').setAttribute('disabled','disabled')
            return
        }
    }

    var di = document.getElementById('data_inizio')
    di.addEventListener('change', callback)

    var df = document.getElementById('data_fine')
    df.addEventListener('change', callback )
    

    
</script>

{% endblock %}

