{% extends "layout.html" %}

{% block content %}

<br >
<form action="/policy_occupazione" method="post">
    <div class="form-group">
        <label for="dpcm-start">Inserisci la data di inizio </label>
        <input type="date" id="data_inizio" name="dpcm-start" value="" class="form-control">
        <br />
        <label for="dpcm-end">Inserisci la data di fine </label>
        <input type="date" id="data_fine" name="dpcm-end" value="" class="form-control">
        <br />
        <label for="perc">Percentuale :</label>
        <input type="number" id="id_perc" name="perc" value="" min="0" max="100" step="5" class="form-control">
        <br />
        <input type="submit" name="confermaPolicy" value="Conferma le nuove policy" class=" btn btn-primary">
    </div>
</form>
<br />
<h3>Policies gia inserite:</h3>
<table class="table">
    <tr>
        <th scope="col"> Percentuale </th>
        <th scope="col"> Data inizio</th>
        <th scope="col"> Data fine</th>
        <th scope="col"> </th>
    </tr>
    {% for row in policies %}
    <tr name="riga"><td>{{row['percentuale_occupabilità'] }} </td><td>{{ row['data_inizio'] }}</td><td>{{ row['data_fine'] }}</td><td><input type="hidden" name="vecchiaDataInizio" value="{{ row['data_inizio'] }}"><input type="hidden" name="vecchiaDataFine" value="{{ row['data_fine'] }}"><input type="hidden" name="percentuale_occupabilitaSelezionata" value="{{ row['percentuale_occupabilità'] }}"><input id="id_btn_nuovi_input" type="button" name="mostraNuoviInput" value="Modifica" ></td></tr>

    {% endfor %}
</table>

<script>
var arr_righe = document.getElementsByName("riga")
console.log(arr_righe)
for( var r= 0; r < arr_righe.length; r++ ){
    var single_nodo_riga = arr_righe[r]
    var singola_riga = single_nodo_riga.childNodes
    console.log(singola_riga)
    var inputs_td = singola_riga[3].childNodes
    console.log(inputs_td)
    var vecchiaDataInizio = inputs_td[0] 
    var vecchiaDataFine = inputs_td[1]
    var percOccSelezionata = inputs_td[2]
    
    input_type_button = inputs_td[3]
    
    
    input_type_button.addEventListener("click", function(){
    


    var nuovoForm = document.createElement("form")
    nuovoForm.setAttribute("action","/policy_occupazione")
    nuovoForm.setAttribute("method","post")

    var nuovoInizio = document.createElement("input")
        nuovoInizio.setAttribute("type","date")
        nuovoInizio.setAttribute("name","dataInizioModicata_"+ r)
        nuovoForm.appendChild(nuovoInizio)

    var nuovoFine = document.createElement("input")
        nuovoFine.setAttribute("type","date")
        nuovoFine.setAttribute("name","dataFineModificata_" + r )
        nuovoForm.appendChild(nuovoFine)

    var nuovoPercentuale = document.createElement("input")
        nuovoPercentuale.setAttribute("type","number")
        nuovoPercentuale.setAttribute("name","percModificata_"+ r)
        nuovoPercentuale.setAttribute("min","0")
        nuovoPercentuale.setAttribute("max","100")
        nuovoPercentuale.setAttribute("step","5")
        nuovoForm.appendChild(nuovoPercentuale)
    var invio = document.createElement("input")
        invio.setAttribute("type","submit")
        invio.setAttribute("name","confermaModifica_" + r)
        invio.setAttribute("value","Conferma Modifiche")
        nuovoForm.appendChild(invio)

    var ancora = document.createElement("td")
        ancora.appendChild(nuovoForm)    
        single_nodo_riga.appendChild(ancora)
    
    })


} </script>   
   





<script>
    function check_dates() {
        var vd1 = document.getElementById('data_inizio').value
        var vd2 = document.getElementById('data_fine').value
        var d_inizio = new Date(vd1 + 'T00:00')
        var d_fine = new Date(vd2 + 'T00:00')
        var d_oggi = new Date();

        return d_oggi < d_inizio && d_inizio < d_fine
    }

    var callback = function () {
        if (check_dates() == true) {
            document.querySelector('#id_btn_conferma').removeAttribute('disabled')
            return
        } else {
            alert(" Controlla meglio le date! ")
            document.querySelector('#id_btn_conferma').setAttribute('disabled', 'disabled')
            return
        }
    }

    var di = document.getElementById('data_inizio')
    di.addEventListener('change', callback)

    var df = document.getElementById('data_fine')
    df.addEventListener('change', callback)
   
</script>

{% endblock %}

