{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<form action="{{ url_for('registrazione') }}" method="POST">
    <div class="form-group">
        {{ form.hidden_tag() }}
        {{ form.codice_fiscale.label }}:
        {{ form.codice_fiscale(class_="form-control") }}
        <br />
        {{ form.nome.label }}:
        {{ form.nome(class_="form-control") }}
        <br />
        {{ form.cognome.label }}:
        {{ form.cognome(class_="form-control") }}
        <br />
        {{ form.telefono.label }}:
        {{ form.telefono(class_="form-control") }}
        <br />
        {{ form.email.label }}:
        {{ form.email(class_="form-control") }}
        <br />
        {{ form.password.label }}:
        {{ form.password(class_="form-control") }}

        <h3>Informazioni di contatto</h3>
        <br />
        {{ form.telefono.label }}:
        {{ form.telefono(class_="form-control") }}
        <br />
        {{ form.telefonoFisso.label }}:
        {{ form.telefonoFisso(class_="form-control") }}
        <br />
        {{ form.residenza.label }}:
        {{ form.residenza(class_="form-control") }}
        <br />
        {{ form.città.label }}:
        {{ form.città(class_="form-control") }}


    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
